@import "tailwindcss";

@theme {
  --font-sans: 'Hind Siliguri', sans-serif;
  --font-bn: 'Noto Serif Bengali', sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Custom Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.islamic-pattern {
  background-color: #006a4e;
  background-image: url("/images/arabesque.png");
}
